.feature {
    text-align: center;
    &.animated {
        animation: apperance 1s ease-in;
        animation-fill-mode: backwards;
        &.feature-1 {
            animation-delay: 1s;
        }
        &.feature-2 {
            animation-delay: 1.5s;
        }
        &.feature-3 {
            animation-delay: 2s;
        }
    }
    .icon {
        color: $color-primary;
        font-size: 5rem;
        margin-bottom: 2.5rem;
    }
    .heading-tertiary,
    .paragraph {
        margin-bottom: 1.5rem;
    }
    .link-undelined {
        font-size: 1.6rem;
        text-transform: uppercase;
        letter-spacing: 0.04cm;
        font-weight: 700;
        padding-bottom: 1rem;
    }
}
