.nav-mobile {
    display: none;
    @include respond(phone) {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        .fa-bars {
            font-size: 4rem;
            color: $color-grey-dark;
        }
        .logo {
            width: 10rem;
            height: 10rem;
        }
        .btn-icons {
            background-color: transparent;
            border: none;
            font-size: 6rem;
            padding-right: 2rem;
        }
    }
}

.header-hero .nav-mobile .btn-icons {
    color: $color-primary;
}

.header-hero .nav-mobile .btn-icons.times {
    color: $color-black-light;
}
