.nav-mobile {
    display: none;
    @include respond(phone) {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        .fa-bars {
            font-size: 4rem;
            color: $color-grey-dark;
        }
        .logo {
            width: 13rem;
            height: 13rem;
        }
        .btn-icons {
            background-color: transparent;
            border: none;
            font-size: 6rem;
            padding-right: 2rem;
        }
    }
}

.header-sticky {
    .nav-mobile {
        .btn-icons .times {
            color: $color-black-light;
        }
    }
}

.header-hero {
    .nav-mobile {
        .btn-icons {
            color: $color-primary;
        }
        .btn-icons.times {
            color: $color-black-light;
        }
    }
}
