.section-text-box {
    padding-left: 5rem;
    padding-top: 8rem;
    text-align: justify;
    @include respond(tab-land) {
        padding-left: 3rem;
        padding-top: 1rem;
    }
    @include respond(phone) {
        padding-left: 0;
        padding-bottom: 2rem;
    }
    .heading-tertiary {
        margin-bottom: 1rem;
    }
    .heading-secondary {
        margin-bottom: 2rem;
    }
    .paragraph {
        margin-bottom: 1rem;
        li {
            margin-bottom: 1rem;
        }
    }
    &.animated {
        animation-name: moveInLeft;
        animation-duration: 2s;
        animation-timing-function: ease-out;
        @include respond(phone) {
            animation: none;
        }
    }
}
