.service {
    // padding-bottom: 10rem;
    &__card {
        &.animated {
            animation-name: moveInBottom;
            animation-duration: 1.5s;
            animation-timing-function: ease-out;
            animation-fill-mode: backwards;
            &.card-1 {
                animation-delay: 0.5s;
            }
            &.card-2 {
                animation-delay: 1s;
            }
            &.card-3 {
                animation-delay: 1.5s;
            }
        }
        &__img {
            width: 35rem;
            transform: scale(1);
            transition: all 0.5s;
            padding-bottom: 2rem;
        }
        &:hover &__img {
            transform: scale(1.05);
        }
    }
    &_description {
        padding-top: 3rem;
        font-size: 2rem;
        text-align: justify;
    }
}

.emoji-box {
    display: flex;
    align-items: center;
    justify-content: center;
    .plus-sign,
    .equality-sign {
        font-size: 8rem;
        margin-right: 1rem;
        color: $color-black;
    }
    .emoji {
        width: 6rem;
        margin-right: 1rem;
    }
}
