// COLORS
$color-primary: rgba(220, 172, 211, 1);

$color-secondary: rgba(139, 204, 204, 1);

$color-white: #fff;
$color-black: #000;
$color-black-light: #373b4d;

$color-grey-dark: #777;

// FONT

$default-font-size: 1.6rem;

// GRID

$grid-width: 114rem;
$grid-small: 92rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 5rem;
$gutter-horizontal: 6rem;
