.header-sticky {
    background-color: $color-white;
    display: flex;
    justify-content: space-between; // Align items to the left and right edges
    align-items: center; // Vertically center items
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
    height: 15vh;
    box-shadow: 0rem 0.3rem 0.1rem rgba($color-black, 0.05);
    @include respond(phone) {
        height: 12vh;
    }
    .nav-desktop {
        margin: 0 auto;
        width: $grid-width;
        margin-right: calc((100% - #{$grid-width}) / 2);
        @include respond(tab-land) {
            width: 90rem;
            margin-right: calc((100% - 90rem) / 2);
        }
        @include respond(phone) {
            display: none;
        }
        .nav-links {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .nav-link {
                text-decoration: none;
                .text-box {
                    text-transform: uppercase;
                    color: $color-black-light;
                    padding: 0.5rem 1.5rem;
                    border-radius: 0.2rem;
                    transition: all 0.3s;
                    font-size: 1.6rem;
                    text-align: center;
                    font-weight: 500;
                    &:hover {
                        background-color: $color-secondary;
                        color: $color-white;
                    }
                }
                .text-box.nav-booking {
                    background-color: $color-primary;
                    color: $color-white;
                    &:hover {
                        background-color: $color-white;
                        border: 1px solid $color-primary;
                        color: $color-primary;
                    }
                }
            }
        }
    }
}

.header-hero {
    background-color: transparent;
    display: flex;
    justify-content: space-between; // Align items to the left and right edges
    align-items: center; // Vertically center items
    position: -webkit-sticky;
    position: sticky;
    top: -10;
    // z-index: 999;
    transform: translateY(-150%);
    height: 15vh;
    // position: relative;
    // z-index: 3;
    // transform: translateY(-50%);
    // padding-bottom: 20rem;
    .nav-desktop {
        margin: 0 auto;
        width: $grid-width;
        margin-right: calc((100% - #{$grid-width}) / 2);
        @include respond(tab-land) {
            width: 90rem;
            margin-right: calc((100% - 90rem) / 2);
        }
        @include respond(phone) {
            display: none;
        }
        .nav-links {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .nav-link {
                text-decoration: none;
                .text-box {
                    text-transform: uppercase;
                    color: $color-white;
                    border-radius: 0.2rem;
                    padding: 0.5rem 1.5rem;
                    border: 1px solid transparent;
                    transition: all 0.3s;
                    font-size: 1.8rem;
                    text-align: center;
                    font-weight: 600;
                    &:hover {
                        background-color: $color-secondary;
                    }
                    .nav-home {
                        font-size: 2.4rem;
                    }
                }
                .text-box.nav-booking {
                    background-color: $color-secondary;
                    &:hover {
                        background-color: transparent;
                        border: 1px solid $color-white;
                    }
                }
            }
        }
    }
}
