.u-section-padding {
    padding: 20rem 0;
}

.heading-primary {
    font-size: 8.5rem;
}

.heading-secondary {
    font-size: 3.5rem;
}

.heading-tertiary {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.1cm;
}

.paragraph {
    font-size: 2rem;
}
