.u-section-padding {
    padding-top: 20rem;
    padding-bottom: 20rem;
    @include respond(tab-land) {
        // padding-top: 10rem;
        // padding-bottom: 10rem;
    }
    // @include respond(phone) {
    //     padding-top: 0;
    //     padding-bottom: 3rem;
    // }
}

.u-center-text {
    text-align: center;
}

.u-margin-bottom-big {
    margin-bottom: 8rem;
    @include respond(tab-land) {
        margin-bottom: 4rem;
    }
}
