.section-nail-polish {
    position: relative;
    color: $color-white;
    .text-box {
        animation-name: moveInRight;
        animation-duration: 2s;
        animation-timing-function: ease-out;
    }
    .image-box {
        animation-name: moveInLeft;
        animation-duration: 2s;
        animation-timing-function: ease-out;
        &__img {
            width: 60rem;
        }
    }
    p {
        margin-bottom: 5rem;
    }
}

.section-nail-art {
    .section-text-box {
        animation-name: moveInLeft;
        animation-duration: 2s;
        animation-timing-function: ease-out;
    }
    .image-box {
        animation-name: moveInRight;
        animation-duration: 2s;
        animation-timing-function: ease-out;
    }
}
