.section-nail-polish {
    position: relative;
    color: $color-white;
    padding-bottom: 20rem;
    .text-box {
        animation-name: moveInRight;
        animation-duration: 2s;
        animation-timing-function: ease-out;
    }
    .image-box {
        animation-name: moveInLeft;
        animation-duration: 2s;
        animation-timing-function: ease-out;
        &__img {
            width: 60rem;
        }
    }
    p {
        margin-bottom: 5rem;
    }
}

.section-nail-art {
    padding-top: 10rem;
    .image-box {
        &.animated {
            animation-name: moveInRight;
            animation-duration: 2s;
            animation-timing-function: ease-out;
        }
    }
}
